@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*,
::before,
::after {
	box-sizing: border-box;
}

body {
	background-color: hsl(217, 54%, 11%);
	font-family: 'Outfit', sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: hsl(215, 51%, 70%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	background-color: hsl(216, 50%, 16%);
	padding: 27px;
	border-radius: 25px;
	max-width: 375px;
}

.main-img {
	width: 100%;
	border-radius: 12px;
}

h2 {
	color: #fff;
	font-weight: 600;
}

.eth--time {
	display: flex;
	border-bottom: 1px solid hsl(215, 32%, 27%);
}

.eth {
	margin-right: auto;
}

.eth span {
	font-weight: 400;
	color: hsl(178, 100%, 50%);
	margin-left: 3px;
}

.time {
	margin-bottom: 20px;
}

.creator {
	display: flex;
	align-items: center;
	margin-top: 15px;
}

.creator--img {
	width: 40px;
	border: 1px solid #fff;
	border-radius: 50%;
	margin-right: 15px;
}

.bold {
	font-weight: 400;
	color: #fff;
}
